<div class="container">
  <h1>Twitter Grabber</h1>


  <ul>
    <%  if @tweets %>
      <% @tweets.each do |tweet| %>
      <li><%= tweet.text %></li>
      <% end %>
    <% end %>
  </ul>
  <form action="/grab" method="get">
    <input type="text" name="username" placeholder="enter your username here...">
    <input type="submit" value="get tweets!">
  </form>
</div>


