<div class="container">
  <h1>Twitter Grabber</h1>

<div id="tweet-list">
  <% if @user %>
    <%= erb :_tweets %>
  <% end %>
</div>
  <form id="url" action="/grab" method="GET">
    <input type="text" name="username" placeholder="enter your username here...">
    <input type="submit" value="get tweets!">
  </form>
</div>


